@import './_variaveis.scss';

@keyframes profile_animation {
    0% {
        border-color: $orange-400;
        box-shadow: 0 4px 20px $orange-400;
    }

    20% {
        border-color: $orange-400;
        box-shadow: 0 4px 20px $orange-400;
    }

    40% {
        border-color: $green-500;
        box-shadow: 0 4px 20px $green-500;
    }

    60% {
        border-color: $green-600;
        box-shadow: 0 4px 20px $green-600;
    }

    80% {
        border-color: $green-700;
        box-shadow: 0 4px 20px $green-700;
    }

    100% {
        border-color: $orange-400;
        box-shadow: 0 4px 20px $orange-400;
    }
}

@keyframes scale_animation {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.4;
    }
}

@keyframes animate_rotate_color {
    0% {
        transform: rotate(0deg);
        background: linear-gradient($brown-500 52%, $brown-400);
    }

    20%{
        transform: rotate(72deg);
        background: linear-gradient($orange-600 52%, $brown-700);
    }

    40% {
        transform: rotate(144deg);
        background: linear-gradient($brown-400 52%, $brown-500);
    }

    60%{
        transform: rotate(216deg);
        background: linear-gradient($orange-600 52%, $brown-400);
    }

    80% {
        transform: rotate(288deg);
        background: linear-gradient($brown-400 52%, $brown-500);
    }

    100% {
        transform: rotate(360deg);
        background: linear-gradient($brown-400 52%, $brown-700);
    }
}