$textcolor-primary: aliceblue;

$orange-400: rgba(190, 75, 10, 0.82);;
// $orange-500: ;
$orange-600: rgba(149, 61, 12, 0.82);;
// $orange-700: ;
// $orange-800: ;
// $orange-900: ;

$green-400: rgba(21, 236, 107, 0.82);;
$green-500: rgba(10, 190, 82, 0.82);;
$green-600: rgba(16, 139, 65, 0.82);;
$green-700: rgba(15, 111, 53, 0.82);;
// $gren-800: ;
// $gren-900: ;

$brown-400: rgba(96, 46, 18, 0.9);;
$brown-500: rgba(66, 29, 8, 0.82);;
// $brown-600: ;
$brown-700: rgba(52, 22, 5, 0.9);;
// $brown-800: ;
// $brown-900: ;

$withe-600: rgba(219, 249, 231, 0.82);
$withe-700: rgba(162, 176, 168, 0.82);