@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import './_variaveis.scss';
@import './_animations.scss';

.contact {
    font-family: 'Raleway', sans-serif;

    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;

    .grid-contacts {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .first-grid {
            width: 30%;
            padding: 20px 0px;
            max-width: 30%;

            .text {
                display: flex;
                flex-wrap: wrap;

                margin-top: 0px;
                height: 234px;
                max-height: 234px;

                ul {
                    margin: 0px;

                    li {
                        margin-bottom: 4px;
                    }
                }
            }
        }

        .list {
            overflow: hidden;
            height: 260px;
            width: 24%;
            padding: 4px;

            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            img {
                border-radius: 32px;

                height: 100%;
                width: 100%;
                z-index: 2;

                // Colocar borda rotativa

                // filter: brightness(.9);
                // filter: grayscale(30%);
                // filter: blur(2px);
                // filter: saturate(60%);
                filter: sepia(45%);
            }

            &::before {
                content: '';
                position: absolute;
                width: 80px;
                height: 300%;
    
                // background: linear-gradient($brown-500 52%, $brown-400);
                animation: animate_rotate_color 3.5s linear infinite;
            }

        }
    }
}